@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,300&family=Roboto:wght@100&display=swap');
.grid-container-top{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0px;
    grid-column-gap: 0px;}
    input[type=text] {
        width:100%;
        
        background-color: rgb(234, 231, 231);
        background-image: url('C:\Users\parij\OneDrive\Pictures\Desktop\p\assignment1.1.png');
       
        background-repeat:inherit;
        padding-left: 0px;
        border-radius: 25px;
        border-color: #8c8c8c;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
      
      .flex-item-left {
        flex: 50%;
      }
      
      .flex-item-right {
        flex: 50%;
      }
      
    .grid-container{
        display:grid;
    grid-template-columns:(3,1fr);
    }
    .grid-item1{
       
        font-size:20px;
        font-family:'Roboto', sans-serif;
    }
    .grid-item2{
        font-size:20px;
        font-family:'Roboto', sans-serif;
    }
    .grid-item3{
        margin-top:5rem;
        font-size:50px;
        color:rgb(0, 0, 0);
        text-align:center;
        font-weight:bold;
        font-family:'Roboto', sans-serif;
        
    }
    .grid-item1-2{
        font-size:12px;
        color:#b0b0b0;
        text-align:center;}
